mitmproxy~=5.3.0
SQLAlchemy
base58
jsonpath-ng
marshmallow
marshmallow-dataclass
marshmallow-enum
marshmallow-oneofschema
lxml
tblib
alembic
flake8
flake8-import-order
pip-tools
pytest
snapshottest
factory_boy
pyinstaller==4.0  # https://github.com/pyinstaller/pyinstaller/issues/5338
freezegun
coverage
pylarky==0.0.5
