mitmproxy~=5.2.0
SQLAlchemy
base58
jsonpath-ng
marshmallow
marshmallow-dataclass
marshmallow-enum
marshmallow-oneofschema
lxml
tblib
flake8
pip-tools
pytest
snapshottest
factory_boy
pyinstaller
freezegun
coverage
