@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,600);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://use.fontawesome.com/releases/v5.0.12/css/all.css);

/*
 *	WebFont Package Licensed to Very Good Security
 */

/* Averta Extra Thin */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Extrathin.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Extrathin.eot') format('eot');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

/* Averta Extra Thin Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-ExtrathinItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-ExtrathinItalic.eot') format('eot');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/* Averta Thin */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Thin.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Thin.eot') format('eot');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/* Averta Thin Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-ThinItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-ThinItalic.eot') format('eot');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

/* Averta Light */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Light.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Light.eot') format('eot');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Averta Light Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-LightItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-LightItalic.eot') format('eot');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Averta Regular */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Regular.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Regular.eot') format('eot');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Averta Regular Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-RegularItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-RegularItalic.eot') format('eot');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Averta Semibold */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Semibold.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Semibold.eot') format('eot');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Averta Semibold Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-SemiboldItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-SemiboldItalic.eot') format('eot');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Averta Bold */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Bold.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Bold.eot') format('eot');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Averta Bold Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-BoldItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-BoldItalic.eot') format('eot');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Averta Extra Bold */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Extrabold.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Extrabold.eot') format('eot');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Averta Extra Bold italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-ExtraboldItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-ExtraboldItalic.eot') format('eot');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

/* Averta Black */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-Black.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-Black.ttf') format('eot');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Averta Black Italic */
@font-face {
	font-family: Averta;
	src:	url('../../static/fonts/Averta/woff/hinted-Averta-BlackItalic.woff') format('woff'),
			url('../../static/fonts/Averta/eot/hinted-Averta-BlackItalic.eot') format('eot');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
